.main{
    width: 98%;
    margin: 40px auto; 
    /* border: 2px solid blue; */
    display: flex;
}
.formDiv{
    width: 50%;
    background-color: skyblue;
    border: 2px solid red;
    margin-left: 20px;
    margin-right: 10px;
}
.formDiv div{
    margin-top: 10px;
    display: flex;
}
/* .formDiv div input{
    margin-left: 50px;
} */
.dataDiv{
    width: 100%;
    background-color : burlywood;
    border: 2px solid gold;
}